openapi: 3.0.3
info:
  contact:
    email: TraderAPI@Schwab.com
    name: Schwab Trader API team
  description: Trader API - Market data
  title: Market Data
  version: 1.0.0
servers:
- url: https://api.schwabapi.com/marketdata/v1
security:
- oauth:
  - read
  - write
tags:
- description: Get Quotes Web Service.
  name: Quotes
- description: Get Option Chains Web Service.
  name: Option Chains
- description: Get Option Expiration Chain Web Service.
  name: Option Expiration Chain
- description: Get Price History Web Service.
  name: PriceHistory
- description: Get Movers Web Service.
  name: Movers
- description: Get MarketHours Web Service.
  name: MarketHours
- description: Get Instruments Web Service.
  name: Instruments
paths:
  /quotes:
    get:
      operationId: getQuotes
      parameters:
      - description: Comma separated list of symbol(s) to look up a quote
        example: "MRAD,EATOF,EBIZ,AAPL,BAC,AAAHX,AAAIX,$DJI,$SPX,MVEN,SOBS,TOITF,CNSWF,AMZN\
          \  230317C01360000,DJX   231215C00290000,/ESH23,./ADUF23C0.55,AUD/CAD"
        explode: true
        in: query
        name: symbols
        required: false
        schema:
          type: string
        style: form
      - description: "Request for subset of data by passing coma separated list of\
          \ root nodes, possible root nodes are quote, fundamental, extended, reference,\
          \ regular. Sending `quote, fundamental` in request will return quote and\
          \ fundamental data in response. Dont send this attribute for full response."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: "quote,reference"
          type: string
        style: form
      - description: Include indicative symbol quotes for all ETF symbols in request.
          If ETF symbol ABC is in request and indicative=true API will return quotes
          for ABC and its corresponding indicative quote for $ABC.IV
        example: false
        explode: true
        in: query
        name: indicative
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                MultiCriteriaSearch:
                  $ref: '#/components/examples/MultiCriteriaSearch'
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: Quote Response
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Quotes by list of symbols.
      tags:
      - Quotes
  /{symbol_id}/quotes:
    get:
      operationId: getQuote
      parameters:
      - description: Symbol of instrument
        example: TSLA
        explode: false
        in: path
        name: symbol_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Request for subset of data by passing coma separated list of\
          \ root nodes, possible root nodes are quote, fundamental, extended, reference,\
          \ regular. Sending `quote, fundamental` in request will return quote and\
          \ fundamental data in response. Dont send this attribute for full response."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          example: "quote,reference"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SingleCriteriaSearch:
                  $ref: '#/components/examples/SingleSymbolCriteriaSearch'
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: Quote Response
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Quote by single symbol.
      tags:
      - Quotes
  /chains:
    get:
      description: Get Option Chain including information on options contracts associated
        with each expiration.
      operationId: getChain
      parameters:
      - description: Enter one symbol
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Contract Type
        explode: true
        in: query
        name: contractType
        required: false
        schema:
          enum:
          - CALL
          - PUT
          - ALL
          type: string
        style: form
      - description: The Number of strikes to return above or below the at-the-money
          price
        explode: true
        in: query
        name: strikeCount
        required: false
        schema:
          type: integer
        style: form
      - description: Underlying quotes to be included
        explode: true
        in: query
        name: includeUnderlyingQuote
        required: false
        schema:
          type: boolean
        style: form
      - description: "OptionChain strategy. Default is SINGLE. ANALYTICAL allows the\
          \ use of volatility, underlyingPrice, interestRate, and daysToExpiration\
          \ params to calculate theoretical values."
        explode: true
        in: query
        name: strategy
        required: false
        schema:
          enum:
          - SINGLE
          - ANALYTICAL
          - COVERED
          - VERTICAL
          - CALENDAR
          - STRANGLE
          - STRADDLE
          - BUTTERFLY
          - CONDOR
          - DIAGONAL
          - COLLAR
          - ROLL
          type: string
        style: form
      - description: Strike interval for spread strategy chains (see strategy param)
        explode: true
        in: query
        name: interval
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Strike Price
        explode: true
        in: query
        name: strike
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Range(ITM/NTM/OTM etc.)
        explode: true
        in: query
        name: range
        required: false
        schema:
          type: string
        style: form
      - description: "From date(pattern: yyyy-MM-dd)"
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          pattern: "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
          type: string
        style: form
      - description: "To date (pattern: yyyy-MM-dd)"
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date
          pattern: "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$"
          type: string
        style: form
      - description: Volatility to use in calculations.  Applies only to ANALYTICAL
          strategy chains (see strategy param)
        explode: true
        in: query
        name: volatility
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Underlying price to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param)
        explode: true
        in: query
        name: underlyingPrice
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Interest rate to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param)
        explode: true
        in: query
        name: interestRate
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Days to expiration to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param)
        explode: true
        in: query
        name: daysToExpiration
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Expiration month
        explode: true
        in: query
        name: expMonth
        required: false
        schema:
          enum:
          - JAN
          - FEB
          - MAR
          - APR
          - MAY
          - JUN
          - JUL
          - AUG
          - SEP
          - OCT
          - NOV
          - DEC
          - ALL
          type: string
        style: form
      - description: Option Type
        explode: true
        in: query
        name: optionType
        required: false
        schema:
          type: string
        style: form
      - description: "Applicable only if its retail token, entitlement of client PP-PayingPro,\
          \ NP-NonPro and PN-NonPayingPro"
        explode: true
        in: query
        name: entitlement
        required: false
        schema:
          enum:
          - PN
          - NP
          - PP
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
          description: The Chain for the symbol was returned successfully.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get option chain for an optionable Symbol
      tags:
      - Option Chains
  /expirationchain:
    get:
      description: Get Option Expiration (Series) information for an optionable symbol.  Does
        not include individual options contracts for the underlying.
      operationId: getExpirationChain
      parameters:
      - description: Enter one symbol
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetExpirationChain:
                  $ref: '#/components/examples/GetExpirationChain'
              schema:
                $ref: '#/components/schemas/ExpirationChain'
          description: The Expiration Chain for the symbol was returned successfully.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get option expiration chain for an optionable symbol
      tags:
      - Option Expiration Chain
  /pricehistory:
    get:
      description: "Get historical Open, High, Low, Close, and Volume for a given\
        \ frequency (i.e. aggregation).  Frequency available is dependent on periodType\
        \ selected.  The datetime format is in EPOCH milliseconds."
      operationId: getPriceHistory
      parameters:
      - description: The Equity symbol used to look up price history
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: The chart period being requested.
        explode: true
        in: query
        name: periodType
        required: false
        schema:
          enum:
          - day
          - month
          - year
          - ytd
          type: string
        style: form
      - description: "The number of chart period types.<br><br> If the periodType\
          \ is <br> &#8226; <b>day</b> - valid values are 1, 2, 3, 4, 5, 10<br> &#8226;\
          \ <b>month</b> - valid values are 1, 2, 3, 6<br> &#8226; <b>year</b> - valid\
          \ values are 1, 2, 3, 5, 10, 15, 20<br> &#8226; <b>ytd</b> - valid values\
          \ are 1<br><br> If   the period is not specified and the periodType is<br>\
          \ &#8226; <b>day</b> - default period is 10.<br> &#8226; <b>month</b> -\
          \ default period is 1.<br> &#8226; <b>year</b> - default period is 1.<br>\
          \ &#8226; <b>ytd</b> - default period is 1.<br>"
        explode: true
        in: query
        name: period
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The time frequencyType<br><br> If the periodType is <br> &#8226;\
          \ <b>day</b> - valid value is minute<br> &#8226; <b>month</b> - valid values\
          \ are daily, weekly<br> &#8226; <b>year</b> - valid values are daily, weekly,\
          \ monthly<br> &#8226; <b>ytd</b> - valid values are daily, weekly<br><br>\
          \ If frequencyType  is not specified, default value depends on the periodType<br>\
          \ &#8226; <b>day</b> - defaulted to minute.<br> &#8226; <b>month</b> - defaulted\
          \ to weekly.<br> &#8226; <b>year</b> - defaulted to monthly.<br> &#8226;\
          \ <b>ytd</b> - defaulted to weekly.<br>"
        explode: true
        in: query
        name: frequencyType
        required: false
        schema:
          enum:
          - minute
          - daily
          - weekly
          - monthly
          type: string
        style: form
      - description: "The time frequency duration<br><br> If the frequencyType is\
          \ <br> &#8226; <b>minute</b> - valid values are 1, 5, 10, 15, 30<br> &#8226;\
          \ <b>daily</b> - valid value is 1<br> &#8226; <b>weekly</b> - valid value\
          \ is 1<br> &#8226; <b>monthly</b> - valid value is 1<br><br> If frequency\
          \  is not specified, default value is <b>1</b><br>"
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "The start date, Time   in milliseconds since the UNIX epoch\
          \ eg 1451624400000<br>If not   specified startDate will be (endDate - period)\
          \ excluding weekends and holidays."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The end date, Time   in milliseconds since the UNIX epoch eg\
          \ 1451624400000<br> If not   specified, the endDate will default to the\
          \ market close of previous business day."
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Need extended hours data
        explode: true
        in: query
        name: needExtendedHoursData
        required: false
        schema:
          type: boolean
        style: form
      - description: Need previous close price/date
        explode: true
        in: query
        name: needPreviousClose
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SingleSymbolCriteriaSearch:
                  $ref: '#/components/examples/SingleSymbolCriteriaSearch'
              schema:
                $ref: '#/components/schemas/CandleList'
          description: Get all candles for given date range
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get PriceHistory for a single symbol and date ranges.
      tags:
      - PriceHistory
  /movers/{symbol_id}:
    get:
      description: Get a list of top 10 securities movement for a specific index.
      operationId: getMovers
      parameters:
      - description: Index Symbol
        example: $DJI
        explode: false
        in: path
        name: symbol_id
        required: true
        schema:
          enum:
          - $DJI
          - $COMPX
          - $SPX
          - NYSE
          - NASDAQ
          - OTCBB
          - INDEX_ALL
          - EQUITY_ALL
          - OPTION_ALL
          - OPTION_PUT
          - OPTION_CALL
          type: string
        style: simple
      - description: Sort by a particular attribute
        example: VOLUME
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - VOLUME
          - TRADES
          - PERCENT_CHANGE_UP
          - PERCENT_CHANGE_DOWN
          type: string
        style: form
      - description: To return movers with the specified directions of up or down
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          default: 0
          enum:
          - 0
          - 1
          - 5
          - 10
          - 30
          - 60
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SearchMoversByIndexSymbol:
                  $ref: '#/components/examples/SearchMoversByIndexSymbol'
              schema:
                $ref: '#/components/schemas/getMovers_200_response'
          description: Analytics for the symbol was returned successfully.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Movers for a specific index.
      tags:
      - Movers
  /markets:
    get:
      description: Get Market Hours for dates in the future across different markets.
      operationId: getMarketHours
      parameters:
      - description: List of markets
        explode: true
        in: query
        name: markets
        required: true
        schema:
          items:
            enum:
            - equity
            - option
            - bond
            - future
            - forex
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Valid date range is from currentdate to 1 year from today. It
          will default to current day if not entered. Date format:YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetMarketHours:
                  $ref: '#/components/examples/GetMarketHours'
              schema:
                additionalProperties:
                  additionalProperties:
                    $ref: '#/components/schemas/Hours'
                  type: object
                type: object
          description: OK
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/SchwabClientCorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Market Hours for different markets.
      tags:
      - MarketHours
  /markets/{market_id}:
    get:
      description: Get Market Hours for dates in the future for a single market.
      operationId: getMarketHour
      parameters:
      - description: market id
        explode: false
        in: path
        name: market_id
        required: true
        schema:
          enum:
          - equity
          - option
          - bond
          - future
          - forex
          type: string
        style: simple
      - description: Valid date range is from currentdate to 1 year from today. It
          will default to current day if not entered. Date format:YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetMarketHour:
                  $ref: '#/components/examples/GetMarketHour'
              schema:
                additionalProperties:
                  additionalProperties:
                    $ref: '#/components/schemas/Hours'
                  type: object
                type: object
          description: OK
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/SchwabClientCorrelId'
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Market Hours for a single market.
      tags:
      - MarketHours
  /instruments:
    get:
      description: Get Instruments details by using different projections.  Get more
        specific fundamental instrument data by using fundamental as the projection.
      operationId: getInstruments
      parameters:
      - description: symbol of a security
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: search by
        explode: true
        in: query
        name: projection
        required: true
        schema:
          enum:
          - symbol-search
          - symbol-regex
          - desc-search
          - desc-regex
          - search
          - fundamental
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                GetInstruments:
                  $ref: '#/components/examples/GetInstruments'
              schema:
                $ref: '#/components/schemas/getInstruments_200_response'
          description: OK
          headers:
            Schwab-Resource-Version:
              description: Used to identify desired and returned version of an API
                resource
              explode: false
              required: true
              schema:
                example: 3
                format: int32
                type: integer
              style: simple
            Schwab-Client-CorrelId:
              description: Used to identify an individual request throughout the lifetime
                of the request and across systems.
              explode: false
              required: true
              schema:
                example: 0a7f446a-7d74-49c8-a1e5-ca8ed59a3386
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Instruments by symbols and projections.
      tags:
      - Instruments
  /instruments/{cusip_id}:
    get:
      description: Get basic instrument details by cusip
      operationId: getInstrumentsByCusip
      parameters:
      - description: cusip of a security
        explode: false
        in: path
        name: cusip_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                GetInstrumentByCusip:
                  $ref: '#/components/examples/GetInstrumentByCusip'
              schema:
                $ref: '#/components/schemas/InstrumentResponse'
          description: OK
          headers:
            Schwab-Resource-Version:
              description: Used to identify desired and returned version of an API
                resource
              explode: false
              required: true
              schema:
                example: 3
                format: int32
                type: integer
              style: simple
            Schwab-Client-CorrelId:
              description: Used to identify an individual request throughout the lifetime
                of the request and across systems.
              explode: false
              required: true
              schema:
                example: 0a7f446a-7d74-49c8-a1e5-ca8ed59a3386
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                errors:
                - id: 6808262e-52bb-4421-9d31-6c0e762e7dd5
                  status: "400"
                  title: Bad Request
                  detail: Missing header
                  source:
                    header: Authorization
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: "400"
                  title: Bad Request
                  detail: Search combination should have min of 1.
                  source:
                    pointer:
                    - /data/attributes/symbols
                    - /data/attributes/cusips
                    - /data/attributes/ssids
                - id: 28485414-290f-42e2-992b-58ea3e3203b1
                  status: "400"
                  title: Bad Request
                  detail: "valid fields should be any of all,fundamental,reference,extended,quote,regular\
                    \ or empty value"
                  source:
                    parameter: fields
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for generic client error 400
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                - status: 401
                  title: Unauthorized
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 401 Unauthorized
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "404":
          content:
            application/json:
              example:
                errors:
                - status: 404
                  title: Not Found
                  id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 404 Not Found
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
        "500":
          content:
            application/json:
              example:
                errors:
                - id: 0be22ae7-efdf-44d9-99f4-f138049d76ca
                  status: 500
                  title: Internal Server Error
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response for 500 Internal Server Error
          headers:
            Schwab-Client-CorrelId:
              description: This **Correlation ID** is unique to the operation. The
                GUID that is generated can be used to track an individual service
                call if support is needed.
              explode: false
              schema:
                example: 977dbd7f-992e-44d2-a5f4-e213d29c8691
                type: string
              style: simple
            Schwab-Resource-Version:
              description: This is the *requested API version*.
              explode: false
              schema:
                example: "1"
                type: string
              style: simple
      summary: Get Instrument by specific cusip
      tags:
      - Instruments
components:
  examples:
    GetInstruments:
      summary: "symbol=AAPL,BAC&projection=symbol-search"
      value:
        instruments:
        - cusip: "037833100"
          symbol: AAPL
          description: Apple Inc
          exchange: NASDAQ
          assetType: EQUITY
        - cusip: "060505104"
          symbol: BAC
          description: Bank Of America Corp
          exchange: NYSE
          assetType: EQUITY
    GetInstrumentByCusip:
      summary: Get getinstruments for cusip
      value:
        cusip: "037833100"
        symbol: AAPL
        description: Apple Inc
        exchange: NASDAQ
        assetType: EQUITY
    GetMarketHour:
      summary: Get market hours for equity market
      value:
        equity:
          EQ:
            date: 2022-04-14
            marketType: EQUITY
            exchange: "NULL"
            category: "NULL"
            product: EQ
            productName: equity
            isOpen: true
            sessionHours:
              preMarket:
              - start: 2022-04-14T07:00:00-04:00
                end: 2022-04-14T09:30:00-04:00
              regularMarket:
              - start: 2022-04-14T09:30:00-04:00
                end: 2022-04-14T16:00:00-04:00
              postMarket:
              - start: 2022-04-14T16:00:00-04:00
                end: 2022-04-14T20:00:00-04:00
    GetMarketHours:
      summary: Get getMarketHours for EQUITY and OPTION
      value:
        equity:
          EQ:
            date: 2022-04-14
            marketType: EQUITY
            product: EQ
            productName: equity
            isOpen: true
            sessionHours:
              preMarket:
              - start: 2022-04-14T07:00:00-04:00
                end: 2022-04-14T09:30:00-04:00
              regularMarket:
              - start: 2022-04-14T09:30:00-04:00
                end: 2022-04-14T16:00:00-04:00
              postMarket:
              - start: 2022-04-14T16:00:00-04:00
                end: 2022-04-14T20:00:00-04:00
        option:
          EQO:
            date: 2022-04-14
            marketType: OPTION
            product: EQO
            productName: equity option
            isOpen: true
            sessionHours:
              regularMarket:
              - start: 2022-04-14T09:30:00-04:00
                end: 2022-04-14T16:00:00-04:00
          IND:
            date: 2022-04-14
            marketType: OPTION
            product: IND
            productName: index option
            isOpen: true
            sessionHours:
              regularMarket:
              - start: 2022-04-14T09:30:00-04:00
                end: 2022-04-14T16:15:00-04:00
    SearchMoversByIndexSymbol:
      summary: Search by "$DJI"
      value:
        screeners:
        - change: 10
          description: Dow jones
          direction: up
          last: 100
          symbol: $DJI
          totalVolume: 100
        - change: 10
          description: Dow jones
          direction: up
          last: 100
          symbol: $DJI
          totalVolume: 100
        - change: 10
          description: Dow jones
          direction: up
          last: 100
          symbol: $DJI
          totalVolume: 100
    SingleSymbolCriteriaSearch:
      summary: Search by symbol AAPL
      value:
        symbol: AAPL
        empty: false
        previousClose: 174.56
        previousCloseDate: 1639029600000
        candles:
        - open: 175.01
          high: 175.15
          low: 175.01
          close: 175.04
          volume: 10719
          datetime: 1639137600000
        - open: 175.08
          high: 175.09
          low: 175.05
          close: 175.05
          volume: 500
          datetime: 1639137660000
        - open: 176.22
          high: 176.27
          low: 176.22
          close: 176.25
          volume: 3395
          datetime: 1640307300000
        - open: 176.26
          high: 176.27
          low: 176.26
          close: 176.26
          volume: 2174
          datetime: 1640307360000
        - open: 176.26
          high: 176.31
          low: 176.26
          close: 176.3
          volume: 15401
          datetime: 1640307420000
        - open: 176.3
          high: 176.3
          low: 176.3
          close: 176.3
          volume: 1700
          datetime: 1640307480000
        - open: 176.3
          high: 176.5
          low: 176.3
          close: 176.32
          volume: 5941
          datetime: 1640307540000
    GetExpirationChain:
      summary: Get ExpirationChain for AAPL
      value:
        expirationList:
        - expirationDate: 2022-01-07
          daysToExpiration: 2
          expirationType: W
          standard: true
        - expirationDate: 2022-01-14
          daysToExpiration: 9
          expirationType: W
          standard: true
        - expirationDate: 2022-01-21
          daysToExpiration: 16
          expirationType: S
          standard: true
        - expirationDate: 2022-01-28
          daysToExpiration: 23
          expirationType: W
          standard: true
        - expirationDate: 2022-02-04
          daysToExpiration: 30
          expirationType: W
          standard: true
        - expirationDate: 2022-02-11
          daysToExpiration: 37
          expirationType: W
          standard: true
        - expirationDate: 2022-02-18
          daysToExpiration: 44
          expirationType: S
          standard: true
        - expirationDate: 2022-03-18
          daysToExpiration: 72
          expirationType: S
          standard: true
        - expirationDate: 2022-04-14
          daysToExpiration: 99
          expirationType: S
          standard: true
        - expirationDate: 2022-05-20
          daysToExpiration: 135
          expirationType: S
          standard: true
        - expirationDate: 2022-06-17
          daysToExpiration: 163
          expirationType: S
          standard: true
        - expirationDate: 2022-07-15
          daysToExpiration: 191
          expirationType: S
          standard: true
        - expirationDate: 2022-09-16
          daysToExpiration: 254
          expirationType: S
          standard: true
        - expirationDate: 2023-01-20
          daysToExpiration: 380
          expirationType: S
          standard: true
        - expirationDate: 2023-03-17
          daysToExpiration: 436
          expirationType: S
          standard: true
        - expirationDate: 2023-06-16
          daysToExpiration: 527
          expirationType: S
          standard: true
        - expirationDate: 2023-09-15
          daysToExpiration: 618
          expirationType: S
          standard: true
        - expirationDate: 2024-01-19
          daysToExpiration: 744
          expirationType: S
          standard: true
    MultiCriteriaSearch:
      summary: Search by Symbols+Cusips+SSIDs
      value:
        AAPL:
          assetMainType: EQUITY
          symbol: AAPL
          quoteType: NBBO
          realtime: true
          ssid: 1973757747
          reference:
            cusip: "037833100"
            description: Apple Inc
            exchange: Q
            exchangeName: NASDAQ
          quote:
            "52WeekHigh": 169
            "52WeekLow": 1.1
            askMICId: MEMX
            askPrice: 168.41
            askSize: 400
            askTime: 1644854683672
            bidMICId: IEGX
            bidPrice: 168.4
            bidSize: 400
            bidTime: 1644854683633
            closePrice: 177.57
            highPrice: 169
            lastMICId: XADF
            lastPrice: 168.405
            lastSize: 200
            lowPrice: 167.09
            mark: 168.405
            markChange: -9.164999999999992
            markPercentChange: -5.161344821760428
            netChange: -9.165
            netPercentChange: -5.161344821760428
            openPrice: 167.37
            quoteTime: 1644854683672
            securityStatus: Normal
            totalVolume: 22361159
            tradeTime: 1644854683408
            volatility: 0.0347
          regular:
            regularMarketLastPrice: 168.405
            regularMarketLastSize: 2
            regularMarketNetChange: -9.165
            regularMarketPercentChange: -5.161344821760428
            regularMarketTradeTime: 1644854683408
          fundamental:
            avg10DaysVolume: 1
            avg1YearVolume: 0
            divAmount: 1.1
            divFreq: 0
            divPayAmount: 0
            divYield: 1.1
            eps: 0
            fundLeverageFactor: 1.1
            peRatio: 1.1
        AAAIX:
          assetMainType: MUTUAL_FUND
          symbol: AAAIX
          realtime: true
          ssid: -1
          reference:
            cusip: "025085853"
            description: "American Century Strategic Allocation: Aggressive Fund -\
              \ I Class"
            exchange: "3"
            exchangeName: Mutual Fund
          quote:
            "52WeekHigh": 9.24
            "52WeekLow": 7.48
            closePrice: 9.12
            nAV: 0
            netChange: -0.03
            netPercentChange: -0.32894736842104566
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0.83059
            eps: 0
            fundLeverageFactor: 0
            peRatio: 0
        AAAHX:
          assetMainType: MUTUAL_FUND
          symbol: AAAHX
          realtime: true
          ssid: -1
          reference:
            cusip: 02507J789
            description: One Choice Blend+ 2015 Portfolio  I Class
            exchange: "3"
            exchangeName: Mutual Fund
          quote:
            "52WeekHigh": 10.64
            "52WeekLow": 9.95
            closePrice: 10.53
            nAV: 0
            netChange: 0
            netPercentChange: 0
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            peRatio: 0
        BAC:
          assetMainType: EQUITY
          symbol: BAC
          quoteType: NBBO
          realtime: true
          ssid: 851234497
          reference:
            cusip: "060505104"
            description: Bank Of America Corp
            exchange: "N"
            exchangeName: NYSE
          quote:
            "52WeekHigh": 48.185
            "52WeekLow": 22.95
            askMICId: XNYS
            askPrice: 47.2
            askSize: 2100
            askTime: 1644854683639
            bidMICId: XNYS
            bidPrice: 47.19
            bidSize: 3700
            bidTime: 1644854683640
            closePrice: 44.49
            highPrice: 48.185
            lastMICId: ARCX
            lastPrice: 47.195
            lastSize: 200
            lowPrice: 47.06
            mark: 47.195
            markChange: 2.7049999999999983
            markPercentChange: 6.080017981568888
            netChange: 2.705
            netPercentChange: 6.080017981568888
            openPrice: 48.02
            quoteTime: 1644854683640
            securityStatus: Normal
            totalVolume: 13573182
            tradeTime: 1644854683638
            volatility: 0.0206
          regular:
            regularMarketLastPrice: 47.195
            regularMarketLastSize: 2
            regularMarketNetChange: 2.705
            regularMarketPercentChange: 6.080017981568888
            regularMarketTradeTime: 1644854683638
          fundamental:
            avg10DaysVolume: 43411957
            avg1YearVolume: 40653250
            declarationDate: 2021-07-21T05:00:00Z
            divAmount: 0.75
            divExDate: 2021-09-02T05:00:00Z
            divFreq: 4
            divPayAmount: 0.75
            divPayDate: 2021-09-24T05:00:00Z
            divYield: 1.77
            eps: 2.996
            fundLeverageFactor: 0
            nextDivExDate: 2021-12-27T06:00:00Z
            nextDivPayDate: 2021-12-27T06:00:00Z
            peRatio: 13.50133
        $SPX:
          assetMainType: INDEX
          symbol: $SPX
          realtime: true
          ssid: 1819771877
          reference:
            description: S&P DOW JONES INDEX            S&P 500
            exchange: "0"
            exchangeName: Index
          quote:
            "52WeekHigh": 4423.46
            "52WeekLow": 4385.52
            closePrice: 4766.18
            highPrice: 4423.46
            lastPrice: 4396.2
            lowPrice: 4385.52
            netChange: -369.98
            netPercentChange: -7.762610728088331
            openPrice: 4412.61
            securityStatus: Unknown
            totalVolume: 628009977
            tradeTime: 1644854683056
        MRAD:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: MRAD
          quoteType: NBBO
          realtime: true
          ssid: 67229687
          reference:
            cusip: "402031868"
            description: Guinness Atkinson Fds SMART ETFS ADVERTISING MKT TCH ETF
            exchange: P
            exchangeName: NYSE Arca
          quote:
            "52WeekHigh": 31.96
            "52WeekLow": 22.18
            askMICId: IEGX
            askPrice: 22.29
            askSize: 500
            askTime: 1644854676848
            bidMICId: EDGX
            bidPrice: 22.22
            bidSize: 500
            bidTime: 1644854681062
            closePrice: 26.8633
            highPrice: 22.18
            lastPrice: 22.18
            lastSize: 100
            lowPrice: 22.18
            mark: 22.22
            markChange: -4.6433
            markPercentChange: -17.284920318799255
            netChange: -4.6833
            netPercentChange: -17.433822352428777
            openPrice: 22.18
            quoteTime: 1644854681062
            securityStatus: Normal
            totalVolume: 100
            tradeTime: 1644851921969
            volatility: 0
          regular:
            regularMarketLastPrice: 22.18
            regularMarketLastSize: 1
            regularMarketNetChange: -4.6833
            regularMarketPercentChange: -17.433822352428777
            regularMarketTradeTime: 1644851921969
          fundamental:
            avg10DaysVolume: 1606
            avg1YearVolume: 0
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            fundStrategy: A
            peRatio: 0
        EBIZ:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: EBIZ
          quoteType: NBBO
          realtime: true
          ssid: 52313178
          reference:
            cusip: 37954Y467
            description: GLOBAL X E-COMMERCE ETF
            exchange: Q
            exchangeName: NASDAQ
          quote:
            "52WeekHigh": 37.9754
            "52WeekLow": 24.52
            askMICId: XNAS
            askPrice: 24.85
            askSize: 200
            askTime: 1644854683318
            bidMICId: XNAS
            bidPrice: 24.79
            bidSize: 200
            bidTime: 1644854683318
            closePrice: 27.45
            highPrice: 24.8303
            lastMICId: XADF
            lastPrice: 24.8303
            lastSize: 100
            lowPrice: 24.52
            mark: 24.8303
            markChange: -2.619699999999998
            markPercentChange: -9.543533697632052
            netChange: -2.6197
            netPercentChange: -9.543533697632052
            openPrice: 24.55
            quoteTime: 1644854683318
            securityStatus: Normal
            totalVolume: 1626
            tradeTime: 1644850278470
            volatility: 0
          regular:
            regularMarketLastPrice: 24.8303
            regularMarketLastSize: 1
            regularMarketNetChange: -2.6197
            regularMarketPercentChange: -9.543533697632052
            regularMarketTradeTime: 1644850278470
          fundamental:
            avg10DaysVolume: 0
            avg1YearVolume: 0
            declarationDate: 2020-12-29T06:00:00Z
            divAmount: 0
            divExDate: 2020-12-30T06:00:00Z
            divFreq: 1
            divPayAmount: 0.26641
            divPayDate: 2021-01-08T06:00:00Z
            divYield: 0.88276
            eps: 0
            fundLeverageFactor: 0
            fundStrategy: P
            nextDivExDate: 2022-01-10T06:00:00Z
            nextDivPayDate: 2022-01-10T06:00:00Z
            peRatio: 0
        $DJI:
          assetMainType: INDEX
          symbol: $DJI
          realtime: true
          ssid: 0
          reference:
            description: Dow Jones Industrial Average
            exchange: "0"
            exchangeName: Index
          quote:
            "52WeekHigh": 34744.56
            "52WeekLow": 34364.39
            closePrice: 34738.06
            highPrice: 34744.56
            lastPrice: 34436.13
            lowPrice: 34364.39
            netChange: -301.93
            netPercentChange: -0.8691619508976618
            openPrice: 34694.5
            securityStatus: Unknown
            totalVolume: 106647543
            tradeTime: 1644854683055
        AMZN  220617C03170000:
          assetMainType: OPTION
          symbol: AMZN  220617C03170000
          realtime: true
          ssid: 72507798
          reference:
            contractType: C
            daysToExpiration: 123
            description: Amazon.com Inc 06/17/2022 $3170 Call
            exchange: o
            exchangeName: OPR
            expirationDay: 17
            expirationMonth: 6
            expirationYear: 2022
            isPennyPilot: true
            lastTradingDay: 1655510400000
            multiplier: 100
            settlementType: P
            strikePrice: 3170
            underlying: AMZN
            uvExpirationType: S
          quote:
            askPrice: 223
            askSize: 2
            askTime: 0
            bidPrice: 217.65
            bidSize: 2
            bidTime: 0
            closePrice: 357.75
            delta: 0.5106
            gamma: 7.0E-4
            highPrice: 0
            impliedYield: 0.042
            indAskPrice: 0
            indBidPrice: 0
            indQuoteTime: 0
            lastPrice: 0
            lastSize: 0
            lowPrice: 0
            mark: 220.325
            markChange: -137.425
            markPercentChange: -38.41369671558351
            moneyIntrinsicValue: -40.795
            netChange: 0
            netPercentChange: 0
            openInterest: 0
            openPrice: 0
            quoteTime: 1644854683379
            rho: 4.5173
            securityStatus: Normal
            theoreticalOptionValue: 221.4
            theta: -0.9619
            timeValue: 220.325
            totalVolume: 0
            tradeTime: 0
            underlyingPrice: 3129.205
            vega: 7.1633
            volatility: 32.8918
        DJX   231215C00290000:
          assetMainType: OPTION
          symbol: DJX   231215C00290000
          realtime: true
          ssid: 69272575
          reference:
            contractType: C
            daysToExpiration: 669
            description: DOW JONES INDUS IND 12/15/2023 $290 Call
            exchange: o
            exchangeName: OPR
            expirationDay: 15
            expirationMonth: 12
            expirationYear: 2023
            isPennyPilot: true
            lastTradingDay: 1702602000000
            multiplier: 100
            settlementType: A
            strikePrice: 290
            underlying: $DJX
            uvExpirationType: S
          quote:
            askPrice: 76.95
            askSize: 11
            askTime: 0
            bidPrice: 70.9
            bidSize: 11
            bidTime: 0
            closePrice: 86.2
            delta: 0
            gamma: 0
            highPrice: 0
            impliedYield: 0
            indAskPrice: 79.55
            indBidPrice: 73.25
            indQuoteTime: 1644614546536
            lastPrice: 0
            lastSize: 0
            lowPrice: 0
            mark: 73.925
            markChange: -12.274999999999991
            markPercentChange: -14.24013921113688
            moneyIntrinsicValue: 0
            netChange: 0
            netPercentChange: 0
            openInterest: 0
            openPrice: 0
            quoteTime: 1644854648305
            rho: 0
            securityStatus: Normal
            theoreticalOptionValue: 0
            theta: 0
            timeValue: 0
            totalVolume: 0
            tradeTime: 0
            underlyingPrice: 0
            vega: -999
            volatility: 0
        TOITF:
          assetMainType: EQUITY
          symbol: TOITF
          quoteType: NBBO
          realtime: true
          ssid: 68444487
          reference:
            cusip: 89072T102
            description: TOPICUS COM INC
            exchange: "9"
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            "52WeekHigh": 75.702
            "52WeekLow": 45.3933
            askPrice: 75.978
            askSize: 10000
            askTime: 1644849000209
            bidPrice: 72.5951
            bidSize: 10000
            bidTime: 1644849000209
            closePrice: 92.7
            highPrice: 75.702
            lastPrice: 75.702
            lastSize: 100
            lowPrice: 72.5478
            mark: 75.702
            netChange: -16.998
            openPrice: 74.8977
            quoteTime: 1644854676927
            securityStatus: Normal
            totalVolume: 4274
            tradeTime: 1644854585000
            volatility: 0
          regular:
            regularMarketLastPrice: 75.702
            regularMarketLastSize: 1
            regularMarketNetChange: -16.998
            regularMarketTradeTime: 1644854585000
        EATOF:
          assetMainType: EQUITY
          assetSubType: ETF
          symbol: EATOF
          quoteType: NBBO
          realtime: true
          ssid: 43253301
          reference:
            cusip: 30052J102
            description: EVOLVE AUTMBL INVTN INDX ETF
            exchange: "9"
            exchangeName: OTC Markets
            otcMarketTier: EM
          quote:
            "52WeekHigh": 47.1993
            "52WeekLow": 24.2835
            askPrice: 33.1512
            askSize: 400000
            askTime: 1644849000044
            bidPrice: 33.0487
            bidSize: 250000
            bidTime: 1644849000044
            closePrice: 40.198
            highPrice: 33.1196
            lastPrice: 33.1196
            lastSize: 200
            lowPrice: 32.82
            mark: 33.1196
            netChange: -7.0784
            openPrice: 32.82
            quoteTime: 1644854660496
            securityStatus: Normal
            totalVolume: 1017
            tradeTime: 1644850274000
            volatility: 0
          regular:
            regularMarketLastPrice: 33.1196
            regularMarketLastSize: 2
            regularMarketNetChange: -7.0784
            regularMarketTradeTime: 1644850274000
        CNSWF:
          assetMainType: EQUITY
          symbol: CNSWF
          quoteType: NBBO
          realtime: true
          ssid: 807850646
          reference:
            cusip: 21037X100
            description: Constellation Softwr
            exchange: "9"
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            "52WeekHigh": 1709.738
            "52WeekLow": 904.0901
            askPrice: 1693.4699
            askSize: 30000
            askTime: 1644849000567
            bidPrice: 1688.4547
            bidSize: 20000
            bidTime: 1644849000567
            closePrice: 1856.4626
            highPrice: 1709.738
            lastPrice: 1693.4541
            lastSize: 100
            lowPrice: 1680.1511
            mark: 1693.4541
            netChange: -163.0084
            openPrice: 1682.0121
            quoteTime: 1644854655233
            securityStatus: Normal
            totalVolume: 13901
            tradeTime: 1644854560000
            volatility: 0
          regular:
            regularMarketLastPrice: 1693.4541
            regularMarketLastSize: 1
            regularMarketNetChange: -163.0084
            regularMarketTradeTime: 1644854560000
        MVEN:
          assetMainType: EQUITY
          symbol: MVEN
          quoteType: NBBO
          realtime: true
          ssid: 39225080
          reference:
            cusip: 88339B102
            description: Themaven Inc
            exchange: u
            exchangeName: Nasdaq OTCBB
            otcMarketTier: QX
          quote:
            "52WeekHigh": 3
            "52WeekLow": 0.42
            askPrice: 0
            askSize: 0
            askTime: 0
            bidPrice: 0
            bidSize: 0
            bidTime: 0
            closePrice: 13.42
            highPrice: 0
            lastPrice: 0.42
            lastSize: 0
            lowPrice: 0
            mark: 0.42
            markChange: -13
            markPercentChange: -96.87034277198212
            netChange: -13
            netPercentChange: -96.87034277198212
            openPrice: 0
            quoteTime: 0
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 1644353952708
            volatility: 0
          regular:
            regularMarketLastPrice: 0.42
            regularMarketLastSize: 0
            regularMarketNetChange: -13
            regularMarketPercentChange: -96.87034277198212
            regularMarketTradeTime: 1644353952708
          fundamental:
            avg10DaysVolume: 299530
            avg1YearVolume: 430760
            divAmount: 0
            divFreq: 0
            divPayAmount: 0
            divYield: 0
            eps: 0
            fundLeverageFactor: 0
            peRatio: -0.68777
        SOBS:
          assetMainType: EQUITY
          symbol: SOBS
          quoteType: NBBO
          realtime: true
          ssid: 561081427
          reference:
            cusip: 83441Q105
            description: Solvay Bank Corp Sol
            exchange: "9"
            exchangeName: OTC Markets
            otcMarketTier: PC
          quote:
            "52WeekHigh": 43
            "52WeekLow": 30.28
            askPrice: 45
            askSize: 200
            askTime: 0
            bidPrice: 39
            bidSize: 100
            bidTime: 0
            closePrice: 38.219
            highPrice: 0
            lastPrice: 38.219
            lastSize: 0
            lowPrice: 0
            mark: 38.219
            markChange: 0
            markPercentChange: 0
            netChange: 0
            netPercentChange: 0
            openPrice: 0
            quoteTime: 1644613200189
            securityStatus: Normal
            totalVolume: 0
            tradeTime: 0
            volatility: 0
          regular:
            regularMarketLastPrice: 38.219
            regularMarketLastSize: 0
            regularMarketNetChange: 0
            regularMarketPercentChange: 0
            regularMarketTradeTime: 0
          fundamental:
            avg10DaysVolume: 1296
            avg1YearVolume: 0
            declarationDate: 2021-09-21T05:00:00Z
            divAmount: 1.48
            divExDate: 2021-09-30T05:00:00Z
            divFreq: 4
            divPayAmount: 1.47
            divPayDate: 2021-10-29T05:00:00Z
            divYield: 3.869
            eps: 0
            fundLeverageFactor: 0
            nextDivExDate: 2022-01-31T06:00:00Z
            nextDivPayDate: 2022-01-31T06:00:00Z
            peRatio: 0
        /ESZ21:
          assetMainType: FUTURE
          symbol: /ESZ21
          realtime: true
          ssid: 0
          reference:
            description: "E-mini S&P 500 Index Futures,Dec-2021,ETH"
            exchange: '@'
            exchangeName: XCME
            futureActiveSymbol: /ESZ21
            futureExpirationDate: 1639717200000
            futureIsActive: true
            futureIsTradable: true
            futureMultiplier: 50
            futurePriceFormat: "D,D"
            futureSettlementPrice: 4696
            futureTradingHours: GLBX(de=1640;0=-17001600;1=r-17001600d-15551640;7=d-16401555)
            product: /ES
          quote:
            askPrice: 4694.5
            askSize: 113
            askTime: 0
            bidPrice: 4694.25
            bidSize: 57
            bidTime: 0
            netChange: -1.5
            closePrice: 4696
            futurePercentChange: -3.0E-4
            highPrice: 4701
            lastPrice: 4694.5
            lastSize: 3
            lowPrice: 4679.25
            mark: 0
            openInterest: 2328678
            openPrice: 4696.5
            quoteTime: 1637168671400
            securityStatus: Unknown
[...]
